.cbp-fwslider {
	position: relative;
	margin: 0 0 0px;
	overflow: hidden;
	padding: 0px 0 0px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: #47a3da;
    background-color: rgba(0,0,0,0);
	color: #fff;
	font-size: 95px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
    transition: all .5s;
    padding: 4px;
}



.cbp-fwslider nav span:hover {

    color: #fb7200;
}


.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}




.over01{
    
    display: block;
}

.over02{
    
    display: none;
}



@media only screen and (max-width: 600px) {
    
.over01{
    
    display: none !important;
}

.over02{
    
    display: block !important;
}

    
}


.newupper{
    
    width: 100%;
    
    position: absolute;
    bottom: -25px;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
text-align: center;
    padding-bottom: -2px !important;
    padding-top: 10px;
}


.mytry{
    position: relative;
}


.twhite{
    
    color: #fff;
}

@media (max-width: 600px) {


#cookie-popup {

z-index: 9999;
left: 0px !important;
bottom: 70px !important;
width: 100% !important;

}


}

#cookie-popup {
position: fixed;
z-index: 9999;
left: 30px;
bottom: 30px;
width: 330px;
padding: 20px 30px;
box-sizing: border-box;
background-color: #131313;
background-color: rgba(0,0,0,0.8);
color: #eee;
}

#cookie-popup p:first-child {
font-family: 'Poppins', sans-serif;
margin: 0;
color: #eee;
}

#cookie-popup p:nth-child(2) {
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
line-height: 1.4;
margin-bottom: 25px;
}

#cookie-popup button {
width: 100%;
font-size: 16px;
padding: 8px 0;
cursor: pointer;
font-family: 'Source Sans Pro', sans-serif;
color: #fff !important;
font-weight: 500;

background-color: rgb(255,255,255,0.6);
border: 0px;


}

.new{
position: absolute;
right: 10px;
top: 10px;
background-color: none !important;
z-index: 1000000;
}


#cookie-popup .new{

background-color: rgba(0,0,0,0) !important;

border: 0px !important;

color: #fff !important;
text-align: right;
width: 25%;
}


